<div class="form">
  <h2>Login</h2> 
  <div class="form-group-default">
      <form action="/login" method="POST">
        <label for="input-username">Username</label>
        <input type="username"  name="username" class="form-control" placeholder="Your username" />
    
        <label for="input-password">Password</label>
        <input type="password" name="password"  class="form-control" id="input-password" placeholder="********" />
        <br /><br />
    
        <button type="submit" class="btn btn-outline-dark">Login</button>
    
        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
  </div>
</div>