<div class="form">
  <h2>Signup</h2>
  <div class="form-group">
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <label for="input-username">Username</label>
        <input type="text" name="username" class="form-control"  placeholder="Your username" />
        

        <label for="input-email">Email</label>
        <input type="email" name="email" class="form-control"  placeholder="Your email" />
        

        <label for="input-password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="********" />
      

        <label for="image-input">Image:</label>
        <input type="file" name="profilePicture"   class="form-control" class="form-control-file" />
        <input type="text" name="existingImage" hidden id="" value="{{profilePicture}}">
      
        
        <label for="genre-input">Choose your genre</label>
        <select name = "genre" class="form-control" multiple size = 11>   
            <option value = "blues">Blues</option> 
            <option value = "classical">Classical</option> 
            <option value = "country">Country</option> 
            <option value = "electronic">Electronic</option> 
            <option value = "folk">Folk</option> 
            <option value = "jazz">Jazz</option> 
            <option value = "latin">Latin</option> 
            <option value = "pop/Rock">Pop/Rock</option> 
            <option value = "r&b">R&B</option> 
            <option value = "rap">Rap</option> 
            <option value = "reggae">Reggae</option> 
           
        </select>
        
        <p style="font-size: 11px;"><i>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</i></p>
        <button type="submit" class="btn btn-outline-dark">Create account</button>


        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
  </div>
</div>



 