<div class="landingpage">
  <div class="button">
      <a class="btn btn-outline-light" href="/signup" role="button">Signup</a>
      <a class="btn btn-outline-light" href="/login" role="button">Login</a>
      {{!-- <button type="button" class="btn btn-outline-dark">Signup</button>
      <button type="button" class="btn btn-outline-dark">Login</button> --}}
  </div>
</div>

